body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* THIS IS THE START OF THE STYLE FROM THE PORTFOLIO FILE */
/* PAGE WIDE */
:root {
  --primary-accent-color: #e5b25d;
}
body, html {
  height: 100%;
}
body {
  font-family: "Oswald", sans-serif;
}
h2 {
  font-family: "Oswald";
  font-size: 40px;
  color: #fff;
}
img {
  border: 2px solid grey;
  border-radius: 15px;
  width: 200px;
  height: 133px;
}
img:hover {
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
}
.divider-line {
  border: 0;
  height: 3px;
  width: 100%;
  background-image: linear-gradient(to right, white, black, white);
}
.fa {
  padding: 0px;
  font-size: 30px;
  width: 70px;
  border-radius: 50%;
  text-decoration: none;
  margin: 5px 2px;
}
/* NAVIGATION BAR */
#navbar {
  position: relative;
  top: 0px;
  left: 0px;
  width: 100%;
}
.navbar {
  background-color: var(--primary-accent-color);
}
.navbar .navbar-default .navbar-fixed-top ul li a {
  color: #fff ;
  font-size: 23px;
}
.navbar .navbar-default .navbar-fixed-top ul li a:hover {
  background-color: #fff ;
  color: #a19662 ;
}
.navbar-brand {
  color: #fff ;
  font-size: 23px;
}
/* center hero image when screen width is no more than 768px */
@media (max-width: 768px) {
  .home-hero {
      background-position: center !important;
 }
}
/* HERO SECTION */
.home-hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://cdn.dribbble.com/users/1884413/screenshots/9922666/dribbble-offfice_4x.jpg");
  height: 100%;
  background-size: cover;
  background-position: left;
  background-repeat: no-repeat;
  padding-top: 70%;
  text-align: center;
}
.home-hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Oswald";
  font-size: 60px;
  color: #fff;
}
/* ABOUT SECTION */
#about {
  margin-bottom: 65px;
  /* background-image: linear-gradient(lightgray,white); */
}
.about-text {
  font-size: 25px;
  font-family: "Oswald";
  list-style-type: circle;
}
.dev-skills {
  max-width: 400px;
}
.dev-skills-row {
  text-align: -webkit-center;
  margin-top: 30px;
}
@media (min-width: 992px) {
  .dev-skills {
    display: flex;
    flex-wrap: wrap;
  }
  .dev-skills ul{
    flex: 50%;
  }
}
/* PORTFOLIO SECTION */
/* #portfolio {
  background-color: var(--primary-accent-color);
} */
#portfolio a {
  font-size: 20px;
  color: black;
}
#portfolio img {
  box-shadow: 5px 5px 2px sienna;
}
#portfolio a:hover {
  color: lightgrey;
}
.portfolio-sub-description {
  font-size: 23px;
  text-align-last: center;
}
.project-item {
  margin-top: 40px;
  text-align: center;
  overflow: hidden;
}
iframe {
  width: 90%;
  height: 90%;
}
/* make image size bigger when screen width is no less than 992px */
@media (min-width: 992px) {
  .main-project-item img {
      width: 800px;
      height: 532px;
 }
}
/* CONTACT SECTION */
#contact {
  background-color: var(--primary-accent-color);
  font-family: "Oswald";
  font-size: 68px;
}
.contact-button {
  border-radius: 47px;
  background-color: var(--primary-accent-color);
}
.contact-button > i {
  font-size: x-large;
}

/* Tooltip text */
.portfolio-tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: darkgrey;
  color: black;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
 /* Position tooltip text */
  position: absolute;
  z-index: 1;
  margin-top: 50px;
  margin-left: -95px;
}
/* Tooltip text mouse over */
.portfolio-tooltip:hover .tooltiptext {
  visibility: visible;
}

